MC=mc
DATA=data
MUON_PRESELECTION=muon_preselection
ELECTRON_PRESELECTION=electron_preselection
EMU_PRESELECTION=emu_preselection
PHOTON_PRESLECTION=false
SAMPLE_NAME=sample_name
INPUT_DIR=InputSamples
OUTPUT_DIR=OutputSamples
EXTRACT_PU=true
ADDITIONAL_LEPTON_VETO=false
ZPT_CUT=false
TIGHT_ZMASS_CUT=false
WIDE_ZMASS_CUT=false
BTAG_CUT=false
DPHI_CUT=false
SIGNAL=signal
HIGGS_MASS=hmass
VBF=vbf
SYSTEMATIC_VAR=uncertainty
