MC=mc
DATA=data
MUON_PRESELECTION=muon_preselection
ELECTRON_PRESELECTION=electron_preselection
EMU_PRESELECTION=emu_preselection
PHOTON_PRESLECTION=false
SAMPLE_NAME=sample_name
INPUT_DIR=InputSamples
OUTPUT_DIR=DataTight
EXTRACT_PU=false
ADDITIONAL_LEPTON_VETO=true
ZPT_CUT=true
TIGHT_ZMASS_CUT=true
WIDE_ZMASS_CUT=false
BTAG_CUT=true
SIGNAL=signal
HIGGS_MASS=hmass
VBF=vbf
SYSTEMATIC_VAR=NONE
DPHI_CUT=false
